# Ignorar variáveis de ambiente
.env
C:\Users\Pichau\Desktop\Academy-FY26.1-GENAI\src\data
# (opcional) arquivos temporários do Streamlit
.streamlit/

# Cache do Python e VSCode
__pycache__/
*.pyc
.vscode/