# Ignorar variáveis de ambiente
.env
.venv
venv/
casco_tratadoA.csv
casco_tratadoB.csv
acidentes2019_todas_causas_tipos.csv
indicadoressegurancapublicauf.csv
projecoes_grupos_etarios_quantidades.csv
# (opcional) arquivos temporários do Streamlit
.streamlit/

# Cache do Python e VSCode
__pycache__/
*.pyc
.vscode/